<style>
    .wrapper {
        background-color: #9B59B6;
        font-family: "Montserrat Bold";
    }
</style>
<div class="wrapper">
    <p><%= decodeURIComponent(clip).replace(/</g, "&lt;").replace(/>/g, "&gt;"); %></p>
</div>
